html,
body {
  width: 100vw;
  height: 100dvh;
  background: #252525;
  color: white;
}
main {
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.box {
  background: #555555;
  padding: 8px;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  min-width: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
input {
  background: #252525;
  border-radius: 4px;
  padding-inline: 3px !important;
  padding-block: 2px !important;
  font-size: x-small !important;
}
